<div class="index_container">

    <h2>Results for <%= params[:search] %> </h2>

    <hr>
    
    <ul class ="index_ul">
    <% @movies.each do |movie|%>
        <li><%= link_to movie_show_path(movie.id) do %>
            <div class="details">
                <%= image_tag(movie.poster, :class => 'index_image')%>
                <div class="index">
                    <%= movie.title %>
                    (<%= movie.year %>)
                <% end %><br>
                <% movie.casts.each do |c| %>
                    <p id="index_name"><%= c.name %>|</p>
                <% end %>

                </div>
                <% if @current_user.present?%>
                    <% if @current_user.movies.include? movie %>
                        <%= link_to movie_delete_watchlist_path(movie.id), method: 'delete' do %>
                        <i class="fas fa-minus"></i>
                        <% end %>
                        
                    <% else %>
                        <%= link_to movie_add_watchlist_path(movie.id), method: 'POST' do %>
                            <i class="fas fa-plus"></i>

                        <% end %>

                    <% end %>
                <% end %>
                
            </div>

            <hr>
        <% end %>
        </li>
    </ul>

</div>
