<div class="show_container">

    <%= image_tag @movie.movie_image, :class => 'movie_big_image' %>
    <hr>

    <h2><%= @movie.title %></h2>
    <hr>
    <div class="show_title">
        <p id= "show_text">Poster <br><br>
        <%= image_tag @movie.poster, :class => 'movie_small_image' %>
        </p>

        <p id= "show_text">Trailer<br><br>
        <iframe src='https://www.youtube.com/embed/<%= @movie.trailer %>?rel=0&autoplay=' frameborder='0' allowfullscreen></iframe>
        </p>
    </div>

    <hr>

    <p>
    <strong>Director</strong><br><br>

    <div class="cast_list">
        <div class="cast_list2">
            <%= image_tag(@movie.director.image, :class => 'cast_thumbnail') %>
            <%= link_to @movie.director.name, director_path(@movie.director) %>
        </div>
    </div>
    </p>

    <hr>

    <p>
    <strong>Casts</strong><br><br>
    <div class="cast_list">
        <% @movie.casts.each do |c|%>
        <%= link_to cast_path(c.id) do %>

        <div class="cast_list2">
            <%= image_tag(c.image, :class => 'cast_thumbnail') %><br>
            <%= c.name %>
            <% end %>
            </div>
        <% end %>
        
    </p>
    </div>

    <hr>

    <h2>Movie Info</h2><br>

        <div class="movie_info">
        <p>
        <strong>Release Year:</strong>
        <%= @movie.year %>
        </p>

        <p>
        <strong>Running Time :</strong>
        <%= @movie.time %>
        </p>

        <p>
        <strong>Rating:</strong>
        <%= @movie.rating %>
        </p>

    </div>
    <br>
    <p id ="overview_text">
    <span id="overview">Overview:</span><br>
    <%= @movie.overview %>

    </p>

    <hr>

    <% if @current_user.present? %>
        <div class="add_watchlist">
        <%= link_to profile_watchlist_path(@movie.id), id: 'watch_link', method: 'POST' do %>
            <i class="fas fa-plus"></i><br>
            Add to Watchlist
        <% end %>

        <%= link_to '#', id: 'review_link'  do  %>
            <i class="fas fa-pen"></i><br>
            Add review
        <% end %>
        </div>
        <div id ="review_write">
            <%= render partial: 'reviews/form' %>
        </div>
        <% else %>

        <%= link_to 'Log in to write a review', login_path, :class => 'review_login' %>

    <% end %>

    <hr>


    <h2>User reviews</h2>
    <div class="review_content">
    <ul>

        <% @movie.reviews.each do |r|%>
            <li><%= r.content %><br><br>

            <div class="user_review">
            <p>Username: <span id ="user_rating"><%= r.user.username %></span> | Rating: <span id ="user_rating"> <%= r.rating %></span></p>

            <% if @current_user.present? && r.user_id == @current_user.id %>
                <p id ="review_edit"><%= link_to 'Edit', edit_review_path(r.id) %>
                <%= link_to 'Delete', review_path(r.id), method: 'delete' %></p>
            <% end %>
            </div>
        <hr>
        <% end %>
        </li>
        </ul>
        </div>

</div>