<div class="show_container">

    <h2><%= @director.name %></h2>
    <hr>
    <%= image_tag @director.image %>
    <hr>
    <p id ="filmo">Filmography</p>
    <hr>
        <% @director.movies.each do |d|%>
    
        <%= link_to movie_show_path(d.id), :class => 'casts_detail' do %>
        <%= image_tag(d.poster, :class => 'movie_smaller_image') %>
        <p><%= d.title %></p>
        <% end %>
    <hr>
    <% end %>

</div>