<div class="show_container">

<h2>Edit profile: </h2>
<hr>



<%= form_with model: @current_user, local: true do |f| %>

    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
    <br><br>

    <%= f.label :email %>
    <br>
    <%= f.text_field :email %>
    <br><br>

    <%= f.label :username %>
    <br>
    <%= f.text_field :username %>
    <br><br>

    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
    <br><br>

    


    <%= f.submit 'Update', :class => 'submit' %>

<% end %>


</div>
