<div class="show_container">

    <h2>Personal details</h2>
    <hr>

    <div class="profile_detail">

    <%= cl_image_tag @current_user.user_image, :id => 'personal_image' %>
    <p id = "personal_content">
        <span id ="personal_detail">User name </span> <%= @current_user.name %><br>
        <span id ="personal_detail">User email</span> <%= @current_user.email %><br>
        <span id ="personal_detail">User username</span> <%= @current_user.username %>
    </p>

    </div>
    <br>
    <%= link_to 'Edit', edit_user_path(@current_user.id),:class => 'submit' %>

</div>


