<div class="watch_container">

    <h2>Your Watchlist</h2>
    <hr>

    <ul class = "watch_list">
        <% @current_user.movies.each do |m| %>
        <div class="watchlist_container">
            <li><%= link_to image_tag(m.poster), movie_show_path(m.id) %></li>
            <li>
            <p id = "watch_title"><%= m.title %></p><br>
                <%= m.year %>
                |
                <%= m.time %>
                |
                <%= m.rating %>
                |<br>
                <%= m.casts.name %>

            <%= m.overview %>
            </li>
            <%= link_to delete_from_watchlist_path(m.id), :class => 'delete_icon', method: 'delete' do %>
            <i class="fas fa-minus"></i>
            <% end %>
        </div>
            <hr>
        <% end %>
    </ul>
</div>