<div class="show_container">
    <h2><%= @cast.name %></h2>
    <hr>
    <%= image_tag @cast.image %>
    <hr>
    <p id ="filmo">Filmography</p>
    <hr>
    <% @cast.movies.each do |d|%>
    <div class="filmo_container"> 
        
        <%= link_to movie_show_path(d.id), :class => 'casts_detail' do %>
        <%= image_tag(d.poster, :class => 'movie_smaller_image')%>
        <p><%= d.title %></p>
    </div>
        <% end %>
    <hr>
    <% end %>

</div>
