<!DOCTYPE html>
<html>
  <head>
    <title>MovieReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/63e0a49b76.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

  </head>

  <body>
    <nav class ="navbar">
      <div class="navbar_logo">
        <span class="fas fa-film"></span>
        <%= link_to 'Search Movies', root_path, :class => 'home_link' %>
      </div>
      <div class="navbar_menu">
        <% if @current_user.present? %>
          <span class= "nav_font"> Welcome, <%= @current_user.name %></span>
          |
          <%= link_to 'Log out', login_path, method: 'delete', :class => 'home_link' %>
          
          <% else %>
          <%= link_to 'Log in', login_path, :class => 'home_link' %>
          |
          <%= link_to 'Sign up', login_path, :class => 'home_link' %>
          
        <% end %>
      </div>
    </nav>
  
    <%= yield %>
  </body>
</html>
